<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Document</title>
</head>

<body class="p-5 flex flex-col justify-center items-center h-screen gap-5 bg-slate-800">
    <div class="p-5 flex flex-col justify-center items-center h-[200px] w-[300px] gap-5 bg-gray-300 rounded-xl shadow-xl">
        <h1 class="text-center h-4 font-bold text-3xl">Welcome <%= username %> !!</h1>
        <a href="/logout" class="bg-blue-900 text-white w-[100px] m-3 p-1 text-center rounded-md text-lg font-bold drop-shadow-lg hover:bg-blue-700"><button>Log Out</button></a>
    </div>
</body>

</html>