<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>
        <%= title %>
    </title>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>

<body class="flex flex-col items-center justify-center p-5 h-screen bg-slate-400">
        <%if(message){%>
        <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mb-5 pop" role="alert">
            <div class="flex">
              <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
              <div>
                
                    <p class="pop">
                        <%=message%>
                    </p>
                    
              </div>
            </div>
          </div>
          <%}%>
        <h1 class="pb-5 font-bold text-3xl text-black"> <%= title %></h1>
        <div class="w-[300px]">
            <form action="/register" method="post" class="bg-sky-300 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <label class="block text-black text-sm font-bold mb-2" for="username">
                    Username:
                </label>
                <input type="text" name="username" id="" placeholder="Enter the username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-blue-600 focus:shadow-outline mb-2" required>
                <label class="block text-black text-sm font-bold mb-2" for="password">
                    Password:
                </label>
                <input type="password" name="password" id="" placeholder="Enter the password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-blue-600 focus:shadow-outline mb-2" required >
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</button>
            </form>
        </div>
</body>
<script>
    let msg=document.querySelector('.pop')
    setTimeout(()=>{
        msg.classList.add('hide')
    },5000)
</script>

</html>